h1 {

  font-family: Helvetica;
  text-align:center;
  font-size: 50px;
}

#footer {
  margin-top:5px;
  font-family: Helvetica;
  text-align:center;
  font-size: 9px;
}

#nav {

}

img {
  float:right;
}

#nav > ul > li {
  display:inline;
  margin: 10px 10px;

}

#content {
  margin: 0px 50px;
  border: solid gray 1px;
  padding: 10px 20px;
}


table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
