div {
  margin-left: 20px;
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  margin-top: 20px;
}

#box1 {
  background-color: red;
  position: fixed;
}

#box2 {
  background-color: blue;
}

#box3 {
  background-color: green;
}
