div {
  border: 1px black solid;
  text-align: center;
  width: 28%;
  margin: 10 10;
  float: left;
}

#box1 {
  background-color: red;
}

#box2 {
  background-color: green;
}

#box3 {
  background-color: blue;
}
