div {
  margin: 10 10;
}

#logout {
  float:right;
}

.close_error {
  float:right;
}

.close_error:hover {
  text-decoration: underline;
  cursor: pointer;
}

.error {
  background-color: red;
  color: white;
  padding: 10px 15px;
  width: 300px;
}

.delete {
  color: red;
}

table {
  border-collapse: collapse;
  margin-left: 30px;
}

table, th, td {
  border: 1px solid black;
}

td, th {
  padding: 10 10;
}

th {
  background-color: #DDD;
}


