table, td, th { 
  border: 2px solid black; 
}
td, th {
  padding: 5px 10px 10px 10px;
}

table { 
  border-collapse: collapse; 
}

.close {
  float:right;
  position: relative;
  top: -8px;
  right: -5px;
  cursor:pointer;
}

#message {
  width: 300px;
  padding: 10 10;
  margin: 10 10;
  color: white;
}

.disappear {
  visibility:hidden;
}

.good {
  background-color: green;
}

.bad {
  background-color: red;
}

