h1 {
  font-family: helvetica;
  margin: 20 10;
}

.error {
  background-color:red;
  color: white;
  padding: 10 10;
  margin: 5 50;
  width: 40%;
}
.message {
  background-color:red;
  color: white;
  padding: 10 10;
  margin: 5 50;
  width: 40%;
}

input {
  margin-left: 20px;
}

table {
  margin-left: 50px;
  border-collapse: collapse;
}

table > tr, td {
  border: solid 1px #111;
  padding: 10 10;
}
