body {
  background-color: #DCDCDC;
}

h1 {
  font-size: 100px;
  font-family: Helvetica;
  text-align:center;
}

#navigation > ol, #navigation > ol > li {
  font-size: 40px;
  list-style-type: none;
  display: inline;
  margin-left: 30px;
}

#content {
   border: 1px solid black;
   font-size: 25px;
   margin: 0 30;
   padding: 30 30;
   background-color: #ECECEC;
}

table {
  border-collapse: collapse;
  margin: 15 0;
}


table, th, td {
  border: 3px solid #CDCDCD;
  font-size: 30px;
}

th {
  background-color: #AAAAAA;
}

td {
  font-size: 30px;
  padding: 10 13;
}

.active {
  border: 1px solid black;
  border-bottom:none;
  padding: 0 10;
  color: orange;
  background-color: white;

}

#footer {
  margin: auto;
  width: 30%;
  padding: 10px;
}
