div {
  margin: 10px 10px;
}

h2 {
  font-family: 'Mountains of Christmas', cursive;
  font-size: 55px;
}



label {
  font-size: 25px;
  line-height: 20px;
  height: 35px; 
}


input[type="text"], input[type="password"] {
  width: 200px;
  height: 25px;
}

input[type=submit] {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
}

#close {
  float: right;
  font-family: Helvetica; 
  position: relative;
  bottom: 5px;
  left: 8px;
}

.hide {
  visibility: hidden;
}

#close:hover {
  cursor: pointer;
  color: #DDD;
}

#message {
  background-color:#CC0000; 
  color: white;
  padding: 8px 15px;
  width: 300px;
}

input[type="submit"]:hover {
  color: #AAA;
  background-color: #2AAF10; /* Green */
  cursor: pointer;
}
