body {
  background-color: #CCCCCC;
}

div {
  margin-bottom:10px;
}

.message {
  width: 300px;
  padding: 10 10;
  margin: 10 10;
  color: white;
}

.good {
  background-color: green;
}

.bad {
  background-color: red;
}


#blue_highlight {
  background-color: blue;
}

.highlight {
  background-color: yellow;
}
table, td, th { 
  border: 2px solid black; 
}
table { 
  border-collapse: collapse; 
}


.big {
  font-size: 50px;
}

h1 {
  font-family: Helvetica;
  font-size: 40px;
}
h1:hover { 
  color: #FF00FF; 
  visibility:hidden;
}

p {
  line-height: 30px;
  border: 2px black dotted;
  padding: 20px 5px;
  margin-bottom: 40px;
}
