body {
  background-color: #F3F3F3;
}

.highlight {
  background-color: yellow;
}

.highlight:hover {
  background-color: blue;
}

.adjective {
  background-color: red;
}

#jump {
  color: green;
}

h1 {
  color: blue; 
  font-size: 50px;
  font-family: 'Righteous', cursive;
}

#first {
  color: #cb4154; 
}

#second {
  color: blue; 
}


p {
  background-color: #FFFFFF;
  border: 1px #121212 solid;
  padding: 20px 20px;
  margin: 20px 20px;
  font-size: 25px;
  line-height: 35px;
  font-family: 'League Spartan', sans-serif;

}
