body {
  background-color: #CCCCCC; 
}

p {
  font-family: Helvetica;
}

.noun {
  background-color: red;
}

p > strong {
}

.highlight {
  background-color: yellow;
}

#chapter_title {
  background-color: pink;
}

