/* header  */

#icecream {
  border-collapse: collapse;
}

#icecream > tr, td {
  border: solid 1px #111;
  padding: 10 10;
}

#navbar { 
  margin-left: 100px;
  list-style: none;
  padding: 0;
}

#navbar li {
  list-style: none;
  background: #ccc;
  border-left: 1px solid #999;
  float: left;
  margin: 0 10;
  padding: 0;
}

h1 {

  color : blue;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
}

p {
  font-family: 'Playfair Display', serif;
}

h2 {
  text-align: center;
  clear:left;
  margin-top: 100px;
}

h1:hover {
  color: green;
}

span {
  padding: 5px 10px;
}

.highlight {
  background-color: yellow;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

div {
   padding: 0px 100px;
   line-height: 2em;
}

body {
  background-color: #EEEEEE;
}
