body {
  margin-left: 30px;
  font-family: 'Poiret One', cursive;
  font-family: Helvetica;
}

.active {
  color:red;
}

h1 {
  font-size: 50px;
}

form {
}

#content {
  font-family: 'Roboto Slab', serif;
  line-height: 30px;
  color: #555;
}

th, p {
  font-family: sans-serif;
  color: black;
}

.message {
  color: white;
  padding: 10px 10;
  margin-bottom: 5px;
  width: 500px;
}

.bad {
  background-color: #B90000;
}

.good {
  background-color: #228B22;
}

table, tbody, th, td { 
   border: 1px solid black; 
  padding:3px 0px;
  border: solid 1px #D1D8E1;
  border-collapse: collapse;
  padding: 5px 5px;
  font-size: 13px;
}
