input {
  margin: 10 0;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 10 10;
}

.message {
  color:#FFFFFF;
  padding: 5 5;
  margin: 2 0;
  width: 50%;
}

.bad {
  background-color:#AF0000;
}

.good {
  background-color:#228B22;
}

