#header {
  width: 1000px;
}

ul {
  padding-left: 5px;
}

li {
  list-style-type: none;
  font-size: 30px;
  margin: 20 0;
}

h1 {
  float: left;
  font-size: 100px;
  margin-left: 50px;
  font-family: 'Barrio', cursive;
  margin-bottom: 0px;
}

a:hover {
  color: #A80000;
}

#logo {
  float: left;
}

#nav {
  clear:left;
  border: 1px black solid;
  float: left;
  width: 235px;
  background-color: #AAA
}

#content {
  width: 70%;
  float: left;
  padding-left: 20px;
}

table tbody tr td {
  border: 1px black solid;
  padding: 5 5;
}


